.quiz-name {
    padding: 1%;
    background-color: #6C757D;
    font-size: 25px;
    color: white;
}

.padding-class {
    padding: 2% 4%;
}

.question {
    background-color: #f3f3f3;
    padding: 1%;
    color: black;
    box-shadow: 0px 2px 4px #888888;
}

.set-background-grey {
    background-color: #f1f2f3;
    border: 1px solid #6c757d;
}

.set-background-white {
    background-color: white;
}

.remove-margin {
    margin: 0px;
}

.set-width-radio {
    width: 4%;
    padding: 0.6rem 0%;
}

.set-width-ans {
    width: 96%;
    padding: 0.6rem 0%;
}

.radio-class {
    padding: 1%;
}

.answer-value {
    padding: 1%;
}

.answers-class {
    background-color: #dddddd;
    box-shadow: 0px 2px 4px #fff;
    padding: 1%;
}

p {
    margin-bottom: 0px;
}

.answer-keys {
    background-color: white;
}

.add-bottom-border {
    border-bottom: 1px solid #E1E1E1;
    padding: 1%;
}